.zvezda{
    color: red;
}
.stroka{
    margin-left: 8%;
    width: 30%;
}
.contact{
    margin-bottom: 10px;
}
.nametext{
    position: absolute;
}
.phonetext{
    position: absolute;
}
.emailtext{
    position: absolute;
}
.cach{
    position: absolute;
    width: 100px;
}
.chek{
    width: calc(25% - 50px);
    display: inline-block;
}
.animal{
margin-right: 5%;
}
.forma{
    margin-bottom: 10px;
}
.sex{
    position: absolute;
}
.age{
    position: absolute;
    display: block;
}
select{
    margin-left: 8%;
    width: 30.7%;
}
textarea {
    margin-left: 8%;
    width:  30.3%;
    height: 50px;
}
.button{
    height: 30px;
    margin-top: 10px;
    margin-left: 2px;
}
